@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    font-family: 'Poppins',sans-serif;
}

::-webkit-scrollbar{
    width: 8px;
    background: transparent;
    padding: 10px;
}

::-webkit-scrollbar-thumb{
    background: #182732b6;
    border-radius: 10px;
}